In [1]:
import pandas as pd
import csv

In [2]:
data = pd.read_csv('training.csv')

In [3]:
negative = data.loc[data.Sentiment == 0,:]
negative = negative.loc[:,('Text', 'Sentiment')][:30000]
negative

                                                    Text  Sentiment
0      @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1      is upset that he can't update his Facebook by ...          0
2      @Kenichan I dived many times for the ball. Man...          0
3        my whole body feels itchy and like its on fire           0
4      @nationwideclass no, it's not behaving at all....          0
...                                                  ...        ...
29995  best weekend ever; Caty Costigans house, Marle...          0
29996  Oh FFS! I've been here all fucking day. Why de...          0
29997  Leaving britney-just found out jon from new ki...          0
29998  @Neomic I havta' go pee, but Im scared to walk...          0
29999  Nooooooooooooooo!!!!!! School today. But the w...          0

[30000 rows x 2 columns]

In [4]:
positive = data.loc[data.Sentiment == 4,:]
positive = positive.loc[:,('Text', 'Sentiment')][:30000]
positive

                                                     Text  Sentiment
800000       I LOVE @Health4UandPets u guys r the best!!           4
800001  im meeting up with one of my besties tonight! ...          4
800002  @DaRealSunisaKim Thanks for the Twitter add, S...          4
800003  Being sick can be really cheap when it hurts t...          4
800004    @LovesBrooklyn2 he has that effect on everyone           4
...                                                   ...        ...
829995  Really wants to go and see 17 again, because Z...          4
829996                              @krissa22 Thank you!           4
829997                                   dreaming of you           4
829998     @TheEllenShow I saw a clip online!  good show!          4
829999             @msdivineknight k hun, no worries!  xx          4

[30000 rows x 2 columns]

In [5]:
data2 = pd.read_csv('largedata.csv')

In [6]:
neutral = data2.loc[data2.Emoji.isnull(),:]
neutral = neutral.loc[neutral.Sentiment == 0,:]
neutral = neutral.loc[neutral.Sentiment140 == 2,:]

In [7]:
neutral = neutral[:40000]

In [8]:
neutral = neutral.loc[:,('Text', 'Sentiment140')]
neutral.rename(columns={'Sentiment140':'Sentiment'}, inplace=True)
neutral

                                                     Text  Sentiment
1                              @amayalyse Such a capper!!          2
4       @KenCarman @DustinFox37 @DoorDash You don’t ne...          2
18      @TomthunkitsMind But won't help California wit...          2
20                I can disappear and no one would notice          2
21                  #FuncleJustin https://t.co/i1foRjIwVy          2
...                                                   ...        ...
115223  E.T. and Elliott finally reunited 37 years lat...          2
115226                                Clout is a disease.          2
115229                    It’s me https://t.co/SHxgPxV8Jo          2
115234  I’m whippin this coupe I ain’t rent dat https:...          2
115235     @melissah528 1990 was a different time Melissa          2

[40000 rows x 2 columns]

In [9]:
tweets_100k = pd.concat([positive,neutral,negative], ignore_index=True)

In [10]:
tweets_100k['sentiment'] = tweets_100k.Sentiment.div(2).astype('int32')
tweets_100k = tweets_100k.loc[:,('Text', 'sentiment')]
tweets_100k.rename(columns={'sentiment':'Sentiment'}, inplace=True)
tweets_100k

                                                    Text  Sentiment
0           I LOVE @Health4UandPets u guys r the best!!           2
1      im meeting up with one of my besties tonight! ...          2
2      @DaRealSunisaKim Thanks for the Twitter add, S...          2
3      Being sick can be really cheap when it hurts t...          2
4        @LovesBrooklyn2 he has that effect on everyone           2
...                                                  ...        ...
99995  best weekend ever; Caty Costigans house, Marle...          0
99996  Oh FFS! I've been here all fucking day. Why de...          0
99997  Leaving britney-just found out jon from new ki...          0
99998  @Neomic I havta' go pee, but Im scared to walk...          0
99999  Nooooooooooooooo!!!!!! School today. But the w...          0

[100000 rows x 2 columns]

In [11]:
from sklearn.utils import shuffle
tweets_100k = shuffle(tweets_100k)

In [12]:
tweets_100k

                                                    Text  Sentiment
17454     eff them cheaters lmao.. hyperness  chyea bra.          2
36253                       0-4? https://t.co/N1H9Zn9Qyf          1
12804  @DarkAngel808 Oh, you didn't see my convo earl...          2
45598                     Yours? https://t.co/5d5NCW0Fis          1
75894  Part two of my HP saga: Black cartridge I boug...          0
...                                                  ...        ...
58346             Thank you king https://t.co/loJwxbuG80          1
80560  im lonely  keep me company! 22 female, New Orl...          0
43821             @MySportsUpdate @Ryan_Kent It’s a joke          1
82190                   Having hot flushes......oh dear           0
27915  Wet #GP races are the best.  Redbull 1 and 2. ...          2

[100000 rows x 2 columns]

In [13]:
tweets_100k.to_csv(r'tweets_100k.csv')